<li>
  <span class="post-meta">May 13, 2021</span>
  <h1>
    <a href="" class="post-link">
      Desafío 3x3 Altimetría - Resultados
    </a>
  </h1>
  <p class="centered">
    <a href="imgs/3x3-altimetria/participantes.png">
      <img src="imgs/3x3-altimetria/participantes.png" alt="participantes" style="max-height: 400px;">
    </a>
  </p>

  <h2>Recaudación</h2>
  <p>El computo final de donaciones recibidas por inscripciones logró un total de <b>$745.000</b>.</p>
  <p><b>Damos las gracias</b> a las siguientes marcas, agrupaciones y proyectos por colaborar con premios para hacer más entretenido el desafío: </p>
  <ul>
    <li><a href="https://www.instagram.com/choikebags/">Choike</a>: 9 choike straps, 3 x-pocket y 1 rollito</li>
    <li><a href="https://www.instagram.com/cyclingwolf/">CyclingWolf</a>: tricota</li>
    <li><a href="https://www.instagram.com/reinasdelpedal/">Reinas del Pedal</a>: bolso, gorro y calcetines</li>
    <li><a href="https://www.instagram.com/nawam_cl/">Nawam</a>: 5 caps</li>
    <li><a href="https://www.instagram.com/turbi.tienda/">Turbi tienda</a>: adaptador pedal plataforma</li>
    <li>Aportes anónimos: 3 pack de geles deportivos y un bolso de manillar <a href="https://www.instagram.com/rhinowalkchile/">Rhinowalk</a>.</li>
  </ul>
  <p>Esta vez tuvimos un <b>premio sorpresa</b> dirigido a las personas que hubieran participado de las dos versiones del 3x3, demostrando compromiso por la causa y también la fuerza de haber madrugado para disfrutar pedaleando. No podemos dejar de agradecer a <a href="https://www.instagram.com/biomecanica.ciclismo/">FIT BIKE Biomecánica Ciclismo</a> que se puso con un <a href="https://labicikleta.com/que-es-y-para-que-sirve-un-bikefit/">bikefit</a> de premio!</p>
  <p class="centered">
    <a href="imgs/3x3-altimetria/participantes-3.png">
      <img src="imgs/3x3-altimetria/participantes-3.png" alt="participantes-3" style="max-height: 400px;">
    </a>
  </p>

  <p>Igual que la vez pasada el tramo a considerar iba entre 6 y 9 de la mañana. 82 hombres y 34 mujeres participaron esta vez con un clima más helado que el anterior y con el desafío de escalar lo que más pudieran en esas 3 horas.</p>

  <h2>Premios</h2>
  <p>Entre los premios se encuentran los reconocimientos a mayor desnivel acumulado y también formato de sorteo al azar entre los equipos que nos enviaron sus registros de ruta.</p>
  <p>
    <b>- Equipo mayor desnivel (7622 m)</b>
    <br>
    <a href="https://www.instagram.com/emiliorda">Emilio Ramirez</a>,
    <a href="https://www.instagram.com/rodrigovergarat">Rodrigo Vergara</a> y 
    <a href="https://www.instagram.com/fswetta">Fernando Swett</a> (Sin PR no vale)
  </p>
  <p>
    <b>- Mujer mayor desnivel (2276 m)</b>
    <br><a href="https://www.instagram.com/pviertel">Paula Viertel</a> (Los ruteros)
  </p>
  <p>
    <b>- Hombre mayor desnivel (2904 m)</b>
    <br><a href="https://www.instagram.com/nicopobletef/">Nicolás Poblete</a> (Team VLP)
  </p>
  <p>
    <b>- Sorteo nivel 3 - Ojos del Salado</b>
    <br>
    <a href="https://www.instagram.com/pviertel">Paula Viertel</a>,
    <a href="https://www.instagram.com/luis.villalon2">Luis Villalón</a> y 
    <a href="https://www.instagram.com/jorgitoesponda">Jorge Esponda</a> (Los ruteros - 7323 m)
  </p>
  <p>
    <b>- Sorteo nivel 2 - Cerro el Plomo</b>
    <br>
    <a href="https://www.instagram.com/rodrixsn">Rodrigo Soto</a>, 
    <a href="https://www.instagram.com/alvaro.sn1">Álvaro Soto</a> y 
    <a href="https://www.instagram.com/hamterbike">Luis Valenzuela</a> (LowperfilTEAM - 5746 m)
  </p>
  <p>
    <b>- Sorteo nivel 1 - Volcán Puntiagudo</b>
    <br>
    <a href="https://www.instagram.com/felikbeiza/">Felipe Beiza</a>, 
    <a href="https://www.instagram.com/jukac006/">Juan Carlos Calderón</a> y 
    <a href="https://www.instagram.com/tapete7/">Sebastián Tapia</a> (RC RACING - 5291 m)
  </p>
  <p>
    <b>- Sorteo participante comprometido</b>
    <br><a href="https://www.instagram.com/biciados">Fernando Aguilera</a> (Los Papayas con Smog - 3504 m)
  </p>
  <p>Los ganadores serán contactados por interno para hacer la entrega de los premios.</p>

  <p class="centered">
    <a href="imgs/3x3-altimetria/participantes-2.png">
      <img src="imgs/3x3-altimetria/participantes-2.png" alt="participantes-2" style="max-height: 400px;">
    </a>
  </p>

  <h2>Resultados</h2>
  <p>A continuación las cifras de todos los equipos que participaron del evento, separados segun los niveles que alcanzaron</p>

  <div class="centered">
    <a href="imgs/3x3-altimetria/ojos-del-salado.jpeg">
      <img src="imgs/3x3-altimetria/ojos-del-salado.jpeg" alt="ojos-del-salado" style="max-height: 400px;">
    </a>
    <p>6 equipos</p>
  </div>
  <p class="centered hide">
    <a href="#" id='show-3x3-altimetria-table' style="border: 1px solid; padding: 10px; text-align: center;"><b>VER KILOMETRAJES POR EQUIPO</b></a>
  </p>
  <br>
  <table class="centered" id="3x3-altimetria-table-3">
    <thead>
      <tr>
        <th>Desnivel</th>
        <th>Nombre equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>7622</b></td>
        <td><b>Sin PR no vale</b> 🥇</td>
      </tr>
      <tr>
        <td>7323</td>
        <td>Los ruteros</td>
      </tr>
      <tr>
        <td>7221</td>
        <td>Team VLP</td>
      </tr>
      <tr>
        <td>7134</td>
        <td>Biketribe</td>
      </tr>
      <tr>
        <td>7016</td>
        <td>Jaufbike</td>
      </tr>
      <tr>
        <td>6936</td>
        <td>Greyhound proyect</td>
      </tr>
    </tbody>
  </table>

  <div class="centered">
    <a href="imgs/3x3-altimetria/el-plomo.jpeg">
      <img src="imgs/3x3-altimetria/el-plomo.jpeg" alt="el-plomo" style="max-height: 400px;">
    </a>
    <p>17 equipos</p>
  </div>

  <table class="centered" id="3x3-altimetria-table-2">
    <thead>
      <tr>
        <th>Desnivel</th>
        <th>Nombre equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>6678</b></td>
        <td><b>DDRR</b></td>
      </tr>
      <tr>
        <td>6568</td>
        <td>EligeVivirEnLaOscuridad</td>
      </tr>
      <tr>
        <td>6510</td>
        <td>CS-FLOW</td>
      </tr>
      <tr>
        <td>6495</td>
        <td>La pichimota</td>
      </tr>
      <tr>
        <td>6443</td>
        <td>TEAM 5 AM</td>
      </tr>
      <tr>
        <td>6402</td>
        <td>Los Narutos</td>
      </tr>
      <tr>
        <td>6289</td>
        <td>The Killers</td>
      </tr>
      <tr>
        <td>6203</td>
        <td>Team CCB</td>
      </tr>
      <tr>
        <td>6179</td>
        <td>Plano Falso</td>
      </tr>
      <tr>
        <td>6107</td>
        <td>TEAM PRAXIS </td>
      </tr>
      <tr>
        <td>6078</td>
        <td>NICERs</td>
      </tr>
      <tr>
        <td>5907</td>
        <td>Mankebike</td>
      </tr>
      <tr>
        <td>5813</td>
        <td>Los Facheritos</td>
      </tr>
      <tr>
        <td>5746</td>
        <td>LowperfilTEAM</td>
      </tr>
      <tr>
        <td>5695</td>
        <td>Pedalea hoy si quieres hacer la diferencia mañana </td>
      </tr>
      <tr>
        <td>5502</td>
        <td>CCFUGA -  Peuco</td>
      </tr>
      <tr>
        <td>5433</td>
        <td>CCFUGA - Cernícalo</td>
      </tr>
    </tbody>
  </table>

  <div class="centered">
    <a href="imgs/3x3-altimetria/puntiagudo.jpeg">
      <img src="imgs/3x3-altimetria/puntiagudo.jpeg" alt="puntiagudo" style="max-height: 400px;">
    </a>
    <p>40 equipos</p>
  </div>

  <table class="centered" id="3x3-altimetria-table-1">
    <thead>
      <tr>
        <th>Desnivel</th>
        <th>Nombre equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>5410</b></td>
        <td><b>ECUCH</b></td>
      </tr>
      <tr>
        <td>5291</td>
        <td>RC RACING</td>
      </tr>
      <tr>
        <td>5147</td>
        <td>Pedalocos</td>
      </tr>
      <tr>
        <td>5082</td>
        <td>Apotopé Bici Club</td>
      </tr>
      <tr>
        <td>5053</td>
        <td>The Drink Team (Lara Biker's)</td>
      </tr>
      <tr>
        <td>4853</td>
        <td>Arackar</td>
      </tr>
      <tr>
        <td>4792</td>
        <td>Valeeex3</td>
      </tr>
      <tr>
        <td>4772</td>
        <td>Lara Biker's Alpargata Team</td>
      </tr>
      <tr>
        <td>4763</td>
        <td>Malatesta Audax Club</td>
      </tr>
      <tr>
        <td>4696</td>
        <td>SinMusloBike</td>
      </tr>
      <tr>
        <td>4684</td>
        <td>Los Sin Permiso </td>
      </tr>
      <tr>
        <td>4510</td>
        <td>TeamPencaBike</td>
      </tr>
      <tr>
        <td>4397</td>
        <td>Los Desconocidos</td>
      </tr>
      <tr>
        <td>4388</td>
        <td>BCC bichotas cyling club</td>
      </tr>
      <tr>
        <td>4326</td>
        <td>Mafuba.veganfood</td>
      </tr>
      <tr>
        <td>4317</td>
        <td>Los cuchufletas</td>
      </tr>
      <tr>
        <td>4312</td>
        <td>Los escuelitos</td>
      </tr>
      <tr>
        <td>4250</td>
        <td>Los PR</td>
      </tr>
      <tr>
        <td>4176</td>
        <td>Tres generaciones </td>
      </tr>
      <tr>
        <td>4175</td>
        <td>GIRL's FULL AM </td>
      </tr>
      <tr>
        <td>4155</td>
        <td>team mapu 1</td>
      </tr>
      <tr>
        <td>4059</td>
        <td>Cabras del monte </td>
      </tr>
      <tr>
        <td>4026</td>
        <td>Ciclismo RNK</td>
      </tr>
      <tr>
        <td>4000</td>
        <td>Muñecxs Mix</td>
      </tr>
      <tr>
        <td>3789</td>
        <td>Forever Bike</td>
      </tr>
      <tr>
        <td>3690</td>
        <td>Team Foreveryoung </td>
      </tr>
      <tr>
        <td>3562</td>
        <td>Team On Fire </td>
      </tr>
      <tr>
        <td>3504</td>
        <td>Los Papayas con Smog</td>
      </tr>
      <tr>
        <td>3461</td>
        <td>Team completo </td>
      </tr>
      <tr>
        <td>3423</td>
        <td>Cadena sucia </td>
      </tr>
      <tr>
        <td>3353</td>
        <td>Salior Team</td>
      </tr>
      <tr>
        <td>3330</td>
        <td>Montañistas de escritorio</td>
      </tr>
      <tr>
        <td>3211</td>
        <td>The Rollers MTB</td>
      </tr>
      <tr>
        <td>3180</td>
        <td>Los malos pa' subir</td>
      </tr>
      <tr>
        <td>3147</td>
        <td>Team Pump it</td>
      </tr>
      <tr>
        <td>2902</td>
        <td>Los Ciclosherpas</td>
      </tr>
      <tr>
        <td>2825</td>
        <td>Los shiquititos</td>
      </tr>
      <tr>
        <td>2822</td>
        <td>Xtreme team</td>
      </tr>
      <tr>
        <td>2808</td>
        <td>Guau Guau Guau</td>
      </tr>
      <tr>
        <td>2610</td>
        <td>Los gochos team lara bikers</td>
      </tr>
    </tbody>
  </table>

  <h3 class="centered">No alcanzaron (pero lo intentaron!)</h3>
  <p class="centered">9 equipos</p>
  <table class="centered" id="3x3-altimetria-table-extra">
    <thead>
      <tr>
        <th>Desnivel</th>
        <th>Nombre equipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2363</td>
        <td>Es lo que hay </td>
      </tr>
      <tr>
        <td>2157</td>
        <td>Rueditas solidarias</td>
      </tr>
      <tr>
        <td>2105</td>
        <td>Los Palominos</td>
      </tr>
      <tr>
        <td>2039</td>
        <td>Lara Biker's Venezuela</td>
      </tr>
      <tr>
        <td>1820</td>
        <td>Audax-Húsares Team</td>
      </tr>
      <tr>
        <td>1569</td>
        <td>Los sin subida </td>
      </tr>
      <tr>
        <td>1360</td>
        <td>Perros Salvajes</td>
      </tr>
      <tr>
        <td>260</td>
        <td>Pichurrias Team</td>
      </tr>
      <tr>
        <td>0</td>
        <td>1,2,3 por ti!</td>
      </tr>
    </tbody>
  </table>
  <p class="centered">
    ¡Atentos al instagram de la escuelita <a href="https://www.instagram.com/quenotefalteaire">@quenotefalteaire</a> para el próximo desafío!
  </p>
  <p>* Si te perdiste el en vivo del sorteo, lo puedes encontrar <a href="https://www.instagram.com/p/COywy_cJI0r/">acá</a>.</p>
</li>

<li>
  <span class="post-meta">Abr 26, 2021</span>
  <h1>
    <a href="" class="post-link">
      Desafío 3x3 Altimetría
    </a>
  </h1>
  <p>
    Desafío 3x3 en su segunda versión, esta vez pondremos a prueba tus capacidades para escalar. Quién se anima?
    El <b>sábado 8 de mayo</b> cada equipo, conformado por <b>3 integrantes</b>, debe registrar una ruta libre de <b>6 a 9 de la mañana</b>.
    No es necesario que los integrantes del equipo estén juntos.
  </p>
  <p class="centered">
    <a href="imgs/3x3-altimetria/afiche.jpeg">
      <img src="imgs/3x3-altimetria/afiche.jpeg" alt="Afiche Desafío 3x3 Altimetría" style="max-height: 400px;">
    </a>
  </p>
  <p>
    Esta vez lo que importa son los metros subidos, no tus kilómetros. Tendrémos 3 niveles a superar y la suma de la altimetría de los 3 integrantes debe ser igual o mayor a la altura de cada nivel:
    <ul>
      <li>Nivel 1 <b>Volcán Puntiagudo</b> 2493 mts.</li>
      <li>Nivel 2 <b>Cerro el Plomo</b> 5424 mts.</li>
      <li>Nivel 3 <b>Nevado Ojos del Salado</b> 6893 mts.</li>
    </ul>
  </p>
  <p>Por ejemplo, para que un equipo alcance el nivel 2 del Cerro el Plomo deberían hacer, en promedio, 1808 m de desnivel por persona. El equivalente a 600 m por hora. Alcanzable?</p>
  <p class="centered">
    <a href="imgs/3x3-altimetria/instrucciones.jpeg">
      <img src="imgs/3x3-altimetria/instrucciones.jpeg" alt="Instrucciones Desafío 3x3 Altimetría" style="max-height: 400px;">
    </a>
  </p>
  <p class="centered" style="font-size: larger; border: 1px solid; padding: 10px;">
    <b>
      INSCRIPCIONES CERRADAS
    </b>
    <br>
    72 equipos inscritos
  </p>
  <br>
  <p>Motívate, participa y comparte!</p>
</li>