<li>
  <span class="post-meta">Mar 23, 2022</span>
  <h1>
    <a href="" class="post-link">
      Desafío 3x3 200 km Todos por Mona
    </a>
  </h1>
  <p class="centered">
    <a href="imgs/3x3-distancia-mona/afiche.jpeg">
      <img src="imgs/3x3-distancia-mona/afiche.jpeg" alt="afiche desafío 2x2 200km 'Todos por Mona'" style="max-height: 400px;">
    </a>
  </p>
  
  <h3>¿CUÁNTO PUEDES PEDALEAR EN 3 HORAS?</h3>    
  <p>Domingo 27 de Marzo entre 8:00 a 11:00 hrs</p>

  <ul>
    <li>Arma tu equipo de 3 integrantes</li>
    <li>Crea tu propia ruta de manera estratégica</li>
    <li>Registra tu actividad en Strava u otra app similar  dentro del horario indicado 8:00 a 11:00 hrs.</li>
    <li>Suma junto a tu equipo la mayor cantidad de kilómetros posible.</li>
  </ul>
  <br>
  <p>Serán premiados:  el equipo,  la mujer y el hombre que acumulen más kilómetros.</p>

  <h3>INSCRIPCIONES CERRADAS</h3>
  <p>La inscripción del equipo tiene un valor mínimo de $9.000 pesos, dinero que irá en directa ayuda de Mónica, integrante de la escuelita,
    víctima de un asalto en el que perdió su bicicleta y equipamiento de ultra ciclismo.</p>
<!-- 
  <p class="centered highlighted btn-inscripcion">
    <a href="https://forms.gle/yJAfxXTXzGxrLDwq6">QUIERO INSCRIBIRME</a>
  </p> -->

  <p>No olvides enviarnos el comprobante de pago de tu inscripción a <a class="u-email" href="mailto:quenotefalteaire@gmail.com">quenotefalteaire@gmail.com</a> luego de completar el formulario y
    estar atento al <a href="https://www.instagram.com/quenotefalteaire"> instagram de la escuelita</a> para las últimas novedades.</p>
</li>