<li>
  <span class="post-meta">Dic 14, 2023</span>

  <h1>
    <a href="" class="post-link">
      Campeonato Ultra 2024
    </a>
  </h1>
  <p>El Campeonato Ultra es una iniciativa que busca <b>generar un espacio recreativo/competitivo a la creciente comunidad de ultra ciclistas</b> del contexto nacional; manteniendo el espíritu más puro de esta disciplina a través de la autosuficiencia, con tal de mantener los costos económicos al mínimo para que la mayor cantidad de ciclistas que quieran participar puedan hacerlo, sin ser el factor monetario un obstáculo determinante.</p>

  <!--  -->
  <h2>
    1- Fechas que conforman el campeonato:
  </h2>
  <p>El Campeonato Ultra consta de 6 fechas llamadas “Pichangas”, como se le denomina coloquialmente a una actividad deportiva informal. 
    Las 6 fechas son las siguientes:</p>
  <ul class="centered unstyled-ul">
    <li>07/12/2023: <b>Pichanga Lo Vásquez</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-lo-vasquez.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-lo-vasquez.jpeg" alt="Afiche portada lo-vasquez'" style="max-height: 300px;">
        </a>
      </p>
    </li>

    <li>06/01/2024: <b>Pichanga Andina</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-andina.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-andina.jpeg" alt="Afiche portada andina'" style="max-height: 300px;">
        </a>
      </p>
    </li>
  
    <li>10/02/2024: <b>Pichanga Cordillera – Costa - Cordillera 2</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-ultra.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-ultra.jpeg" alt="Afiche portada ultra'" style="max-height: 300px;">
        </a>
      </p>
    </li>

    <li>09/03/2024: <b>Pichanga Cuestas y Túneles</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-cuestas-y-tuneles.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-cuestas-y-tuneles.jpeg" alt="Afiche portada cuestas y tuneles'" style="max-height: 300px;">
        </a>
      </p>
    </li>

    <li>07/04/2024: <b>Pichanga Mixta</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-mixta.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-mixta.jpeg" alt="Afiche portada mixta'" style="max-height: 300px;">
        </a>
      </p>
    </li>

    <li>04/05/2024: <b>Pichanga Longa Distancia</b>
      <p>
        <a href="imgs/campeonato-ultra/pichanga-longa-distancia.jpeg">
          <img src="imgs/campeonato-ultra/pichanga-longa-distancia.jpeg" alt="Afiche portada longa-distancia'" style="max-height: 300px;">
        </a>
      </p>
    </li>
  </ul>
  <br>
  <p>1.1- Las Pichangas tendrán una ruta sugerida por la organización, la cual no será obligatoria. Cada ciclista podrá hacer cambios en el recorrido, ya sea por estrategia, comodidad o error en la navegación; siempre y cuando se cumpla con el registro de los puntos de control fotográficos establecidos.</p>
  
  <!--  -->
  <h2>
    2- Sistema de puntuación y premiación.
  </h2>
  <p>
    Las Pichangas tienen puntajes asignados por segmentos del recorrido y por el recorrido completo. Esto varía en cada desafío, teniendo en consideración la complejidad y extensión de la ruta. El puntaje mínimo entregado por una Pichanga por recorrido completo será de 1 punto y el máximo será de 2,5 puntos: Esto para los recorridos más difíciles.
  </p>
  <p><b>- Pichanga Lo Vásquez:</b></p>
  <p>Recorrido completo: 1,5 puntos. Primer Segmento: 0,5 puntos.</p>

  <p><b>- Pichanga Andina:</b></p>
  <p>Recorrido completo: 2,5 puntos. Primer Segmento: 1 punto. Segundo Segmento: 1,5 puntos.</p>

  <p><b>- Pichanga Cordillera-Costa-Cordillera:</b></p>
  <p>Recorrido completo: 2,5 puntos. Primer segmento: 1 punto. Segundo Segmento: 1,5 puntos.</p>

  <p><b>- Pichanga Cuestas y Túneles:</b></p>
  <p>Recorrido completo: 2 puntos. Primer segmento: 1 punto.</p>

  <p><b>- Pichanga Mixta:</b></p>
  <p>Recorrido completo: 1 punto.</p>

  <p><b>- Pichanga Longa Distancia:</b></p>
  <p>Recorrido completo: 2 puntos. Primer segmento: 1 punto.</p>

  <p>*El puntaje final de cada Pichanga es el obtenido según el segmento al que se llegó.
    Ejemplo: Si se finalizó la pichanga Lo Vásquez, el puntaje obtenido será: 1,5 puntos. No se le suma el puntaje del Primer Segmento (se considera “Primer Segmento” o “Recorrido Completo”, no la suma de ambas).</p>
  <p>
    El detalle de los segmentos que entregarán puntajes en cada Pichanga será informado en la publicación de cada evento vía <a href="https://instagram.com/el_proferod">Instagram @el_proferod</a>.
  </p>
  <p>2.1- Al finalizar la sexta fecha, quien haya acumulado mayor puntaje habrá ganado el campeonato.</p>
  <p>2.2- En caso de existir empate en puntajes se tomarán los lugares de llegada como desempate. Esto solo aplica a participantes que comiencen el desafío en el horario establecido por la organización. No aplica para partidas anticipadas o diferidas.</p>

  <!--  -->
  <h2>3- Responsabilidades de la organización:</h2>
  <p>La organización se encargará de planificar, convocar y difundir el Campeonato Ultra. </p>
  <p>La organización recopilará información básica de cada participante mediante la inscripción para estar en contacto y atender dudas respecto al evento.</p>
  <p>La organización canalizará las ayudas y colaboraciones de personas e instituciones que cooperen con el Campeonato Ultra.</p>

  <!--  -->
  <h2>4- Responsabilidades de los participantes:</h2>
  <p>Cada participante entiende que la asistencia a las fechas del Campeonato Ultra son voluntarias y por ello acepta los riesgos que implica una ruta en la vía pública, lo que deja exento de toda responsabilidad a la organización de cualquier daño físico, psicológico, material, muerte que pueda sufrir como resultado del evento y su organización.</p>
  <p>Cada participante entiende que debe ser totalmente autosuficiente durante el desarrollo de cada fecha del Campeonato Ultra.</p>
  <p>Cada participante debe avisar a la organización del retiro del evento y deberá volver a su hogar u otro lugar utilizando sus propios medios.</p>

  <!--  -->
  <h2>5- Inscripción:</h2>
  <p>Las inscripciones se realizarán completando el formulario online más un pago correspondiente a un monto voluntario (sugerido $2.000) a la cuenta indicada en dicho formulario.</p>

  <p>Puedes ver la publicación oficial <a href="https://www.instagram.com/p/C0K4wYpuh6H/">en instagram</a>.</p>
</li>