<li>
  <span class="post-meta">Sep 19, 2021</span>
  <h1>
    <a href="#de-vuelta-a-las-ultra" class="post-link">
      De vuelta a las ultra - 300 km / 250 km
    </a>
  </h1>

  <p class="centered">
    <a href="imgs/de-vuelta-a-las-ultra/afiche.png">
      <img src="imgs/de-vuelta-a-las-ultra/afiche.png" alt="Afiche evento" style="max-height: 400px;">
    </a>
  </p>

  <p>En esta ocasión podrán elegir la modalidad de <b>300 km con 1700 m </b> desnivel o la de <b>250 km con 1370 m</b> de desnivel.</p>
  <p>Ambas modalidades comparten punto de partida, meta, PC1, PC2 y último PC, pero quienes vayan por los 300k además deben considerar los <b>2 puntos de control fotográficos extra</b>.</p>

  <h2 class="centered">Modalidad 300 km</h2>

  <p class="centered">
    <a href="imgs/de-vuelta-a-las-ultra/ruta-300.png">
      <img src="imgs/de-vuelta-a-las-ultra/ruta-300.png" alt="Mapa ruta 300" style="max-height: 400px;">
    </a>
  </p>
  <p class="centered btn"><a href="https://ridewithgps.com/routes/37389792/">Ver ruta 300 en Ride With GPS</a></p>

  <p>A diferencia de la modalidad 250 km, acá <b>se deben considerar los siguientes desvíos</b> para cumplir con todos los PC:</p>
  <ul>
    <li>KM 148: Desvío hacia el PC3 de las Bodegas de Rangue en el km 162.8</li>
    <li>KM 210: Desvío hacia el PC4 la Medialuna de Naltagua en el km 223.1</li>
  </ul>
  <br>
  <table>
    <thead>
      <tr>
        <th>Punto de control</th>
        <th>Lugar</th>
        <th>Km</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inicio</td>
        <td><a href="https://goo.gl/maps/tU9XH1Y7bZAqaRuR7">Parroquia San Vicente de Paúl</a></td>
        <td>0</td>
        <td>07:00</td>
      </tr>
      <tr>
        <td>PC1</td>
        <td><a href="https://goo.gl/maps/xHNiGWN5mxcwzzja6">Parque Maipo</a></td>
        <td>70.7</td>
        <td>09:01 - 11:41</td>
      </tr>
      <tr>
        <td>PC2</td>
        <td><a href="https://www.google.com/maps/@-33.803374,-70.6984893,19.25z">Valle Hermoso con 18 de Sep</a></td>
        <td>125.3</td>
        <td>10:35 - 13:32</td>
      </tr>
      <tr>
        <td>PC3 *📸</td>
        <td><a href="https://www.google.com/maps/@-33.8444997,-70.9510761,77m/data=!3m1!1e3">Bodegas de Rangue</a></td>
        <td>162.8</td>
        <td>11:39 - 15:29</td>
      </tr>
      <tr>
        <td>PC4 *📸</td>
        <td><a href="https://goo.gl/maps/qqgcTJWwrqCBknzJ6">Medialuna Naltagua</a></td>
        <td>223.1</td>
        <td>13:22 - 18:38</td>
      </tr>
      <tr>
        <td>PC5</td>
        <td><a href="https://goo.gl/maps/G1cRcRv67d3hK9VF8">Plaza de Armas de Talagante</a></td>
        <td>243.5</td>
        <td>13:57 - 19:41</td>
      </tr>
      <tr>
        <td>Meta</td>
        <td><a href="https://goo.gl/maps/Ai7geyrsRkAzdj5p7">Plaza Av. Ecuador</a></td>
        <td>307.3</td>
        <td>15:47 - 23:00</td>
      </tr>
    </tbody>
  </table>

  <p>
    <b>Importante: </b>
  *📸: sacarse una foto y enviarla a la organización vía whatsapp.
  </p>

  <br>
  <h2 class="centered">Modalidad 250 km</h2>

  <p class="centered">
    <a href="imgs/de-vuelta-a-las-ultra/ruta-200.png">
      <img src="imgs/de-vuelta-a-las-ultra/ruta-200.png" alt="Mapa ruta 200" style="max-height: 400px;">
    </a>
  </p>

  <p class="centered btn"><a href="https://ridewithgps.com/routes/37495586">Ver ruta 250 en Ride With GPS</a></p>

  <table>
    <thead>
      <tr>
        <th>Punto de control</th>
        <th>Lugar</th>
        <th>Km</th>
        <th>Horario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inicio</td>
        <td><a href="https://goo.gl/maps/tU9XH1Y7bZAqaRuR7">Parroquia San Vicente de Paúl</a></td>
        <td>0</td>
        <td>07:00</td>
      </tr>
      <tr>
        <td>PC1</td>
        <td><a href="https://goo.gl/maps/xHNiGWN5mxcwzzja6">Parque Maipo</a></td>
        <td>70.7</td>
        <td>09:01 - 11:32</td>
      </tr>
      <tr>
        <td>PC2</td>
        <td><a href="https://www.google.com/maps/@-33.803374,-70.6984893,19.25z">Valle Hermoso con 18 de Sep</a></td>
        <td>125.3</td>
        <td>10:35 - 15:01</td>
      </tr>
      <tr>
        <td>PC3</td>
        <td><a href="https://goo.gl/maps/G1cRcRv67d3hK9VF8">Plaza de Armas de Talagante</a></td>
        <td>187.6</td>
        <td>12:22 - 19:01</td>
      </tr>
      <tr>
        <td>Meta</td>
        <td><a href="https://goo.gl/maps/Ai7geyrsRkAzdj5p7">Plaza Av. Ecuador</a></td>
        <td>251.3</td>
        <td>14:10 - 23:00</td>
      </tr>
    </tbody>
  </table>

  <h2>
    Inscripciones cerradas
  </h2>
  <p>
    Este evento cuenta con una <b>inscripción de $10.000 a beneficio</b> de nuestro escuelito Maldo con el fin de poder cubrir parte de los gastos médicos que tuvo que manejar por una operación médica (de la cual ya se encuentra fírmemente pedaleando otra vez!).      
  </p>
<!--   
  <p>
    Para oficializar tu aporte y tu participación debes completar <a href="https://forms.gle/PRrG39zGcJq3FJMx7">el formulario</a>:
  </p>
  <p class="centered highlighted btn-inscripcion">
    <a href="https://forms.gle/PRrG39zGcJq3FJMx7">QUIERO INSCRIBIRME</a>
  </p>   -->

  <p>No olvides enviarnos el comprobante de pago de tu inscripción luego de completar el formulario y estar atento al <a href="https://www.instagram.com/quenotefalteaire"> instagram de la escuelita</a> para las últimas novedades.</p>
</li>