<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>
  <div class="wrapper">
    <h2 class="footer-heading">Que no te falte aire!</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-6">
        <ul class="contact-list">
          <li class="p-name">Y si te llega a faltar, que sea entrenando y no en la ruta ...</li>
          <li><a href="https://www.instagram.com/quenotefalteaire"><span class="username">instagram.com/quenotefalteaire</span></a></li>
          <li><a href="https://www.strava.com/clubs/quenotefalteaire"><span>strava.com/clubs/quenotefalteaire</span></a></li>
          <li><a class="u-email" href="mailto:quenotefalteaire@gmail.com">quenotefalteaire@gmail.com</a></li>
          <li><a href="https://www.quenotefalteaire.cl/quienes-somos/">¿Quiénes Somos?</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>