<li>
  <span class="post-meta">Dic 13, 2023</span>

  <h1>
    <a href="" class="post-link">
      Resultados Pichanga Lo Vásquez
    </a>
  </h1>
  <p>A continuación los resultados finales después de la primera fecha de pichangas del Campeonato Ultra:</p>
  
  <p class="centered">
    <a href="imgs/campeonato-ultra/resultados-pichanga-lo-vasquez.png">
      <img src="imgs/campeonato-ultra/resultados-pichanga-lo-vasquez.png" alt="Afiche portada lo-vasquez'" style="max-height: 300px;">
    </a>
  </p>

  <p>Puedes ver a los finalistas en <a href="https://www.instagram.com/p/C0p7K6GuKqS/">este link de instagram</a>.</p>
</li>