<li>
  <span class="post-meta">Feb 26, 2024</span>

  <h1>
    <a href="" class="post-link">
      Pichanga Cuestas y Túneles - 4ta fecha
    </a>
  </h1>
  <p>
    El próximo 9 de marzo se desarrollará la 4ta fecha del Campeonato Ultra partiendo desde el Parque Forestal.
  </p>
  <p class="centered">
    <a href="imgs/campeonato-ultra/pichanga-cuestas-y-tuneles.jpeg">
      <img src="imgs/campeonato-ultra/pichanga-cuestas-y-tuneles.jpeg" alt="Afiche portada cuestas y tuneles'" style="max-height: 300px;">
    </a>
  </p>
  <p class="centered btn highlighted">
    <a href="https://ridewithgps.com/routes/45058715">Ver ruta en Ride With GPS</a>
  </p>
  <p>
    Partida: Museo de Bellas Artes. Tendremos 2 horarios oficiales entre los que podrás elegir según tu estrategia.
  </p>
  <p>
    Partida 1: Viernes 8 de marzo 20:00 hrs.
  </p>
  <p>
    Partida 2: sábado 9 de marzo 6:30 hrs.
  </p>
  <ul>
    <li>PC 1: Cuesta Chacabuco.</li>

    <li>Meta 1: San Felipe (0,5 punto)</li>

    <li>PC 2: Cabildo.</li>

    <li>PC 3: Caimanes.</li>

    <li>Meta 2: Illapel (1 punto)</li>

    <li>PC 4: Combarbala.</li>

    <li>Meta 3: Ovalle. (1,5 puntos)</li>

    <li>Meta 4: Casa Ciclista BiCiAdOs (2 puntos)</li>
  </ul>
  <br>
  <p>
    Tiempo límite para ambas partidas: Domingo 10 de marzo a las 23:59 hrs.
  </p>
  <p>
    Inscripción correspondiente a un monto voluntario (sugerido 2.000 pesos) en el siguiente link:
  </p>
  <p class="centered btn highlighted">
    <a href="https://docs.google.com/forms/d/1ZMmj3HvJ6dKNl0VEmNekJMQrwd9iYqhcA1rQjWAF4VU/viewform?edit_requested=true">Llenar formulario de inscripción</a>
  </p>
  
  <p>Para estar al día con las novedades no olvides visitar el <a href="https://www.instagram.com/p/C3zsYZ1OkZ-/">Instagram del profe</a></p>
</li>