<li>
  <span class="post-meta">Feb 26, 2024</span>

  <h1>
    <a href="" class="post-link">
      Ranking general
    </a>
  </h1>
  <p>A continuación los resultados generales después de la 3ra fecha:</p>
  
  <p class="centered">
    <a href="imgs/campeonato-ultra/ranking.png">
      <img src="imgs/campeonato-ultra/ranking.png" alt="Ranking general Campeonato Ultra" style="max-height: 500px;">
    </a>
    <br><br>
    <a href="imgs/campeonato-ultra/ranking-podio-general.png">
      <img src="imgs/campeonato-ultra/ranking-podio-general.png" alt="Ranking podio general" style="max-height: 200px;">
    </a>
    <br><br>
    <a href="imgs/campeonato-ultra/ranking-podio-femenino.png">
      <img src="imgs/campeonato-ultra/ranking-podio-femenino.png" alt="Ranking podio femenino" style="max-height: 200px;">
    </a>
    <br><br>
    <a href="imgs/campeonato-ultra/ranking-podio-masculino.png">
      <img src="imgs/campeonato-ultra/ranking-podio-masculino.png" alt="Ranking podio masculino" style="max-height: 200px;">
    </a>
  </p>

  <!-- <p>Puedes ver a los finalistas en <a href="https://www.instagram.com/p/C0p7K6GuKqS/">este link de instagram</a>.</p> -->
</li>