<li>
  <span class="post-meta">Feb 26, 2024</span>

  <h1>
    <a href="" class="post-link">
      Resultados Pichanga Andina
    </a>
  </h1>
  <p>A continuación los resultados finales después de la 2da fecha de pichangas del Campeonato Ultra:</p>
  
  <p class="centered">
    <a href="imgs/campeonato-ultra/resultados-pichanga-andina.png">
      <img src="imgs/campeonato-ultra/resultados-pichanga-andina.png" alt="Ranking 2da fecha Campeonato Ultra" style="max-height: 500px;">
    </a>
  </p>

  <!-- <p>Puedes ver a los finalistas en <a href="https://www.instagram.com/p/C0p7K6GuKqS/">este link de instagram</a>.</p> -->
</li>