<li>
  <span class="post-meta">Feb 26, 2024</span>

  <h1>
    <a href="" class="post-link">
      Resultados Pichanga Cordillera – Costa - Cordillera 2
    </a>
  </h1>
  <p>A continuación los resultados finales después de la 3ra fecha de pichangas del Campeonato Ultra:</p>
  
  <p class="centered">
    <a href="imgs/campeonato-ultra/resultados-pichanga-ccc.png">
      <img src="imgs/campeonato-ultra/resultados-pichanga-ccc.png" alt="Ranking 3ra fecha Campeonato Ultra" style="max-height: 300px;">
    </a>
  </p>

  <p>Si quieres conocer cómo se vivió esta fecha, revisa el relato de <a href="https://www.instagram.com/carlos.carvajal.o/">Carlos Carvajal</a> en el siguiente link:</p>
  <p class="centered highlighted btn">
    <a href="https://cncarvaj.wixsite.com/carlos-carvajal/post/pichangaultra">Ver relato</a>
  </p>

  <!-- <p>Puedes ver a los finalistas en <a href="https://www.instagram.com/p/C0p7K6GuKqS/">este link de instagram</a>.</p> -->
</li>