<li>
  <span class="post-meta">Ago 5, 2022</span>
  <h1>
    <a href="" class="post-link">
      UltraCat por el Biciados
    </a>
  </h1>
  <p class="centered">
    <a href="imgs/ultracat-biciados/afiche-portada.jpeg">
      <img src="imgs/ultracat-biciados/afiche-portada.jpeg" alt="Afiche portada UltraCat'" style="max-height: 400px;">
    </a>
  </p>
    
  <p><b>Domingo 28 de Agosto 8:00 am - Parque O'higgins</b></p>

  <p>El choro <a href="https://www.instagram.com/biciados_">Biciados</a> se va a la carrera <a href="https://bikingman.com/es/brazil-2022-es/">Bikingman Brasil</a> en octubre de este año. Apoya su aventura participando en el UltraCat de la escuelita. El monto recaudado será para los gastos de su viaje.</p>

  <p><b>Reglamento de carrera:</b></p>

  <p class="centered">
    <a href="imgs/ultracat-biciados/afiche-descripcion.jpeg">
      <img src="imgs/ultracat-biciados/afiche-descripcion.jpeg" alt="Afiche descripcion UltraCat'" style="max-height: 400px;">
    </a>
  </p>

  <ul>
    <li>La carrera consiste en visitar <b>3 puntos de control</b>. Cada corredor puede visitar estos puntos <b>en el orden que desee y por la ruta que estime conveniente</b>. Un distintivo certificará la pasada por el punto de control.</li>
    <li>La meta es el cuarto punto y <b>su ubicación será revelada cuando la corredora o corredor llegue a su tercer punto</b> y muestre los distintivos.</li>
    <li>Será él o la ganadora quién pase por todos los puntos de control y llegue primero o primera a la meta con todos los distintivos.</li>
  </ul>
  <br>
  
  <p>¡Atrévete y dale con todo!</p>
    
  <p><b>Datos para transferencia:</b></p>
  
  <p>
    Fernando Aguilera<br>
    Cuenta rut Banco Estado<br>
    16.439.266-k<br>
    saludospedales@gmail.com<br>
    Asunto: UltraCat
  </p>

  <p>La inscripción tiene un valor de $10.000 pesos, dinero que irá en directa ayuda de don Feña Biciados en su misión de ir a conquistar la Bikingman Brasil.</p>

  <p class="centered highlighted btn-inscripcion hide">
    <a href="https://forms.gle/qYnQ8B2kXWurLfXQ6">FORMULARIO DE INSCRIPCIÓN</a>
  </p>

  <p>No olvides enviarnos el comprobante de pago de tu inscripción a <a class="u-email" href="mailto:quenotefalteaire@gmail.com">quenotefalteaire@gmail.com</a> luego de completar el formulario y
    estar atento al <a href="https://www.instagram.com/quenotefalteaire"> instagram de la escuelita</a> para las últimas novedades.</p>
</li>