<li>
  <span class="post-meta">Sep 9, 2021</span>
  <h1>
    <a href="#variante-ultra" class="post-link">
      Desafío Variante Ultra 200 km - Resultados
    </a>
  </h1>

  <p class="centered">
    <a href="imgs/variante-ultra/participantes.png">
      <img src="imgs/variante-ultra/participantes.png" alt="participantes" style="max-height: 400px;">
    </a>
  </p>

  <h2>Recaudación</h2>
  <p>Entre los 84 inscritos y los aportes externos a modo de donación logramos recaudar un total de <b>$925.000</b>.</p>
  <p><b>Damos las gracias</b> a las siguientes personas, agrupaciones y proyectos por colaborar con hacer más entretenido el desafío:</p>
  <ul>
    <li><a href="https://www.instagram.com/map8_ong/">Map8 ONG</a>: por aportar las ricas frutas de los puntos de control</li>
    <li><a href="https://www.instagram.com/sharkpowerbars/">SharkPowerBars</a> y <a href="https://www.instagram.com/larabikerschile/">LarabikersChile</a>: por aportar las barritas del PC1</li>
    <li><a href="https://www.instagram.com/curva.40/">Curva 40</a>: por aportar premio a sortear entre los inscritos</li>
    <li><a href="https://www.instagram.com/vrizkabags/">Vrizka Bags</a>: por aportar premio a sortear entre los inscritos</li>
    <li><a href="https://www.instagram.com/hoskuldr/">Darío</a>: por facilitar su cámara fotográfica</li>
    <li><a href="https://www.instagram.com/donbici.cl/">Don Bici</a>: por ofrecer su vehículo para recoger a algún ciclista rezagado</li>
    <li><a href="https://www.instagram.com/erna_iveth/">Erna</a> y <a href="https://www.instagram.com/raul_ramirez_diaz/">Raúl</a>: por ayudar con los PCs y los vehículos de apoyo</li>    
  </ul>
  <br>

  <p class="centered">
    <a href="imgs/variante-ultra/participantes-1.png">
      <img src="imgs/variante-ultra/participantes-1.png" alt="participantes-1" style="max-height: 400px;">
    </a>
  </p>

  <h2>Premios</h2>
  <p>Entre los premios se encuentran el reconocimiento a espíritu ultra, el sorteo de un bolso de manillar <a href="https://www.instagram.com/vrizkabags/">Vrizka Bags</a> y entrega de 6 caramagnolas donadas por <a href="https://www.instagram.com/curva.40/">Curva 40</a>.</p>

  <p>
    <b>- Espíritu ultra</b>
    <br>
    <a href="https://www.instagram.com/all_bike_chile">Sebastián Milla</a> por su compañerismo y ayudar a trasladar a un ciclista que tuvo que retirarse.
    <a href="https://www.instagram.com/bicipensante">Enrique Alarcón</a> por compartir su ropa seca con otros ciclistas que lo necesitaban.
  </p>

  <p>
    <b>- Sorteo caranagnolas</b>
    <br>
    <a href="https://www.instagram.com/jaskiiier">Paulo Soto</a>, 
    <a href="https://www.instagram.com/l.chamorro028">Luis Chamorro Soto</a>, 
    <a href="https://www.instagram.com/lenaachoo">Ignacio Gaete</a> y 
    <a href="https://www.instagram.com/99casb">Carlos Suárez</a>
  </p>

  <p>
    <b>- Sorteo bolso Vrizka</b>
    <br>
    <a href="https://www.instagram.com/nanda_vittori">Nicolás Vittori</a>
  </p>

  <p class="centered">
    <a href="imgs/variante-ultra/participantes-2.png">
      <img src="imgs/variante-ultra/participantes-2.png" alt="participantes-2" style="max-height: 400px;">
    </a>
  </p>

  <h2>Resultados</h2>
  <p>A continuación las cifras de todos participantes con sus tiempos de llegada en cada punto de control</p>

  <p class="centered">
    <a href="#" id='show-variante-ultra-table' style="border: 1px solid; padding: 10px; text-align: center;"><b>VER LISTA DE INSCRITOS</b></a>
  </p>
  <table id='variante-ultra-table' style="display: none">
    <thead>
      <tr>
        <th>Ciclista</th>
        <th>PC1</th>
        <th>PC2</th>
        <th>PC3</th>
        <th>Meta</th>
      </tr>
    </thead>
    <tbody>
      <tr>  
        <td>Tamara Santander</td>
        <td>11:31</td>
        <td>13:12</td>
        <td>17:02</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Andrés Molina</td>
        <td>11:31</td>
        <td>13:12</td>
        <td>17:02</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Ignacio Gaete</td>
        <td>12:19</td>
        <td>14:58</td>
        <td>19:01</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Enrique Alarcón</td>
        <td>13:04</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Aldo Yanac</td>
        <td>13:27</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Felipe Rodriguez</td>
        <td>11:17</td>
        <td>12:45</td>
        <td>16:42</td>
        <td>18:07</td>
      </tr>
      <tr>  
        <td>Cesar Ibarra</td>
        <td>11:15</td>
        <td>13:28</td>
        <td>17:02</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Darío Candia</td>
        <td>12:16</td>
        <td>15:00</td>
        <td>19:01</td>
        <td>20:53</td>
      </tr>
      <tr>  
        <td>Andrés Camacho</td>
        <td>12:43</td>
        <td>15:12</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Felipe Roman</td>
        <td>11:05</td>
        <td>12:25</td>
        <td>15:16</td>
        <td>16:55</td>
      </tr>
      <tr>  
        <td>Danilo Riquelme</td>
        <td>11:13</td>
        <td>12:34</td>
        <td>15:51</td>
        <td>17:32</td>
      </tr>
      <tr>  
        <td>Cesar Molina</td>
        <td>13:17</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Simón Figueroa</td>
        <td>11:37</td>
        <td>13:28</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Antonio Santos</td>
        <td>11:41</td>
        <td>13:28</td>
        <td>17:01</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Sixto Valdebenito</td>
        <td>12:14</td>
        <td>14:11</td>
        <td>17:34</td>
        <td>19:20</td>
      </tr>
      <tr>  
        <td>Angel Moncada</td>
        <td>11:46</td>
        <td>13:42</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Iván Isla</td>
        <td>12:54</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Gonzalo Fuentes</td>
        <td>11:12</td>
        <td>12:47</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Wladimir Alfaro</td>
        <td>12:33</td>
        <td>15:19</td>
        <td>19:01</td>
        <td>20:55</td>
      </tr>
      <tr>  
        <td>Traccion HUMANA</td>
        <td>11:42</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Cristóbal Vera</td>
        <td>11:37</td>
        <td>13:28</td>
        <td>17:02</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Wladyslaw Lopez</td>
        <td>13:40</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Fabian Gaete</td>
        <td>12:01</td>
        <td>14:10</td>
        <td>17:36</td>
        <td>19:20</td>
      </tr>
      <tr>  
        <td>Diego Martinez</td>
        <td>11:20</td>
        <td>13:28</td>
        <td>17:02</td>
        <td>18:35</td>
      </tr>
      <tr>  
        <td>Jahird Soto</td>
        <td>13:03</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Luis Chamorro</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Hernán Freire</td>
        <td>12:23</td>
        <td>14:36</td>
        <td>17:34</td>
        <td>19:46</td>
      </tr>
      <tr>  
        <td>Stiwart Antúnez</td>
        <td>14:00</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Paulo Soto</td>
        <td>12:12</td>
        <td>14:21</td>
        <td>17:34</td>
        <td>19:46</td>
      </tr>
      <tr>  
        <td>Felipe Roco</td>
        <td>11:52</td>
        <td>14:24</td>
        <td>17:34</td>
        <td>19:08</td>
      </tr>
      <tr>  
        <td>Carlos Suárez</td>
        <td>11:36</td>
        <td>13:42</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>David Hughes</td>
        <td>11:43</td>
        <td>13:42</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Nicolas Vittori</td>
        <td>11:39</td>
        <td>13:28</td>
        <td>16:41</td>
        <td>18:07</td>
      </tr>
      <tr>  
        <td>Mariana Ayala</td>
        <td>12:31</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Daniel Cornejo</td>
        <td>12:46</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Martin Dahm</td>
        <td>12:52</td>
        <td>15:19</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Carlos Berrios</td>
        <td>13:05</td>
        <td>15:19</td>
        <td>17:19</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Valeria Pereira</td>
        <td>13:32</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Yasna Hidalgo</td>
        <td>13:05</td>
        <td>15:19</td>
        <td>17:19</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>David Lugo</td>
        <td>14:00</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Franco</td>
        <td>12:58</td>
        <td>15:22</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Mónica González</td>
        <td>13:23</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Jordana Chávez</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Felix Henriquez</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Fernando Morales</td>
        <td>11:39</td>
        <td>13:28</td>
        <td>16:42</td>
        <td>18:07</td>
      </tr>
      <tr>  
        <td>Camila</td>
        <td>13:36</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Manuel Navarro</td>
        <td>13:36</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Santiago Rodriguez</td>
        <td>12:47</td>
        <td>DNF</td>
        <td>DNF</td>
        <td>DNF</td>
      </tr>
      <tr>  
        <td>Joaquin Ibañez</td>
        <td>11:47</td>
        <td>13:22</td>
        <td>17:02</td>
        <td>18:33</td>
      </tr>
      <tr>  
        <td>Cristian Mesa</td>
        <td>12:52</td>
        <td>15:19</td>
        <td>17:19</td>
        <td>DNF</td>
      </tr>
    </tbody>
  </table>
  <small>*<b>DNS</b> no llegó al punto de partida | <b>DNF</b> no terminó la ruta</small>
  <br>
  <br>

  <p class="centered">
    <a href="imgs/variante-ultra/participantes-3.png">
      <img src="imgs/variante-ultra/participantes-3.png" alt="participantes-3" style="max-height: 400px;">
    </a>
  </p>
  <br>

  <h2>
    Fotos del evento
  </h2>
  <p class="centered highlighted" style="font-size: larger; border: 1px solid; padding: 10px;">
    <b>
      <a href="https://drive.google.com/drive/folders/1EBT8rbYawHEoe_LawsexSjgQ0W-o5dIQ?usp=sharing">Ver album en Google Drive</a>
    </b>
  </p>
  <br>
  <br>

  <p class="centered">
    <a href="imgs/variante-ultra/participantes-4.png">
      <img src="imgs/variante-ultra/participantes-4.png" alt="participantes-4" style="max-height: 400px;">
    </a>
  </p>
  <br>
  
  <h2>
    Partida, puntos de control y meta.
  </h2>
  <table>
    <thead>
      <tr>
        <th>Punto de control</th>
        <th>Lugar</th>
        <th>Km</th>
        <th>Horario **</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Inicio</td>
        <td>Plaza Metro Escuela militar</td>
        <td>0</td>
        <td>07:00 - 07:30</td>
      </tr>
      <tr>
        <td>PC1</td>
        <td>Cumbre Cuesta Chacabuco</td>
        <td>81.7</td>
        <td>10:00 - 12:55</td>
      </tr>
      <tr>
        <td>PC2</td>
        <td>Estación Rungue</td>
        <td>113</td>
        <td>11:05 - 15:05</td>
      </tr>
      <tr>
        <td>PC3</td>
        <td>Portal Chicauma *📷</td>
        <td>163</td>
        <td>12:40 - 18:20</td>
      </tr>
      <tr>
        <td>Meta</td>
        <td>Plaza Av. Ecuador</td>
        <td>206</td>
        <td>21:00 cierre final</td>
      </tr>
    </tbody>
  </table>

  <p>
    <b>Importante: </b>
  *📷: al llegar a la entrada de Chicauma <b>debes sacarte una foto con el portal de fondo y enviarla al grupo de whatsapp</b> para anotar tu tiempo. En el PC1 y PC2 contarán con agua y frutas junto a escuelitos que estarán registrando sus tiempos.
  </p>

  <p class="centered">
    <a href="imgs/variante-ultra/afiche.png">
      <img src="imgs/variante-ultra/afiche.png" alt="Afiche evento" style="max-height: 400px;">
    </a>
  </p>

  <h2>
    La ruta
  </h2>
  <p>
    Serán <b>200 km con casi 3000 m</b> de desnivel acumulado recorriendo la zona norte de la Región Metropolitana, atravesando los pasos de <b>Pie Andino, cuesta Chacabuco, cajón de los Valles y Caleu</b> antes de tomar la vuelta hacia Santiago.
  </p>
  <p>
    Puedes encontrar <b>los detalles de la ruta</b> en <b><a href="https://ridewithgps.com/routes/37073422">Ride With GPS</a></b> y en <b><a href="https://www.strava.com/routes/2860948465115669898">Strava</a></b>.
  </p>
  <p class="centered">
    <a href="imgs/variante-ultra/ruta-3d.png">
      <img src="imgs/variante-ultra/ruta-3d.png" alt="Afiche ruta en 3D" style="max-height: 400px;">
    </a>
  </p>
  <p>No olvides enviarnos el comprobante de pago de tu inscripción luego de completar el formulario y estar atento al <a href="https://www.instagram.com/quenotefalteaire"> instagram de la escuelita</a> para las últimas novedades.
  </p>
</li>